# docker run --rm node:24-bookworm-slim sh -c "npx --yes web-push generate-vapid-keys"
VAPID_PUBLIC_KEY=PUT_YOUR_PUBLIC_KEY_HERE
VAPID_PRIVATE_KEY=PUT_YOUR_PRIVATE_KEY_HERE

VAPID_SUBJECT=mailto:PUT_YOUR_PUBLIC_EMAIL_HERE

FCM_PROJECT_ID=commet-xxxxx
FIREBASE_KEY_B64=YOUR_EXISTING_FIREBASE_KEY

WEB_CLIENT_ORIGINS=https://client.kantengewichte.de